.containerr {
  width: 60%;
  height: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: linear-gradient(270deg, #a3b7c5, #c2c7c6, #dad5c9);
  background-size: 1000% 1000%; /* To create a larger background for smooth animation */
  animation: gradientAnimation 15s ease infinite; /* Animation with 15 seconds duration */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.diamond-svg {
  position: absolute;
  top: 60%;
  left: 49%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (max-width: 770px) {
  /* For small screens, allow dynamic height */
  .containerr {
    width: 100%; /* Full width on mobile */
    height: auto; /* Let the container grow based on content */
    max-height: 100vh; /* Keep max height to avoid overflow */
    overflow-y: auto;
    background-size: 1000% 1000%; /* Ensure the gradient is large on mobile as well */
    animation: gradientAnimation 15s ease infinite; /* Keep the animation on mobile */
  }

  .diamond-svg {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
