.cover {
  animation: reveal linear;
    animation-timeline: view();
    animation-range: entry 0 cover 100%;
    background-color: rgba(var(--cookies), 0.5); /* 50% transparency */ /* Use the cookies variable */; /* Transparent background */
    backdrop-filter: blur(2px); /* Blur the content behind the cover */
}

[data-mode="night"] 
.cover {
    animation: reveal linear;
      animation-timeline: view();
      animation-range: entry 0 cover 100%;
      background-color: rgba(var(--cookies), 0.5); /* 50% transparency */ /* Transparent background */
      backdrop-filter: blur(2px); /* Blur the content behind the cover */
  }

  .context {
    background-color: rgb(34, 34, 34, 0.1);
  }
@keyframes reveal {
    from {
        transform: translateX(0vw); /* Start at original position */
    }
    to {
        transform: translateX(111vw); /* Move fully to the left */
    }
}
@media (max-width: 600px) {
    @keyframes reveal {
        from {
            transform: translateX(0vw); /* Start at original position */
        }
        to {
            transform: translateX(150vw); /* Move fully to the left */
        }
    }
}