.imageBox {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Optional: Add a border or background for visual clarity */

    background-color: #f9f9f9;


    border-radius: 2px;

}

.imageBox img {
    width: 95%;
    height: 95%;
    object-fit: cover; /* Ensures the image covers the container while keeping its aspect ratio */
    border-radius: 8px; /* Optional: Rounded corners */
}
