body {
    cursor: none; /* Hide the default cursor */
    overflow-x: hidden;
  }
  
  .cursor {
    position: fixed; /* Fixed positioning relative to the viewport */
    pointer-events: none; /* Prevents cursor elements from blocking other interactions */
    z-index: 9999; /* Ensure the cursor is on top of other elements */
  }
  
  .cursor-inner {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Prevent interaction */
  }
  
  .cursor-outer {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    pointer-events: none; /* Prevent interaction */

  }
  
  [data-mode="night"] 
  .cursor-outer {
    border-color: rgba(255, 255, 255, 0.1); /* Change border color to a lighter shade */
    background-color: rgba(255, 255, 255, 0.1); /* Optional: Add a background color if needed */
  }
  [data-mode="night"] 
  .cursor-inner {
    border-color: rgba(255, 255, 255, 0.1); /* Change border color to a lighter shade */
    background-color: rgba(255, 255, 255, 0.1); /* Optional: Add a background color if needed */
  }